{% extends 'starter.html' %}
{% load static %}
{% block content %}
    <h3><a href="{% url 'add_customer' %}">添加客户</a></h3>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>联系方式</td>
            <td>号码</td>
            <td>来源</td>
            <td>转介绍人员</td>
            <td>状态</td>
            <td>课程顾问</td>
            <td>咨询日期</td>
            <td>咨询内容</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for customer in customer_obj %}
            <tr>
                {#        <td>{{ forloop.counter }}</td>#}
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.get_contact_type_display }}</td>
                <td>{{ customer.contact }}</td>
                <td>{{ customer.get_source_display }}</td>
                <td>{{ customer.referral_from.name }}</td>
                <td>{{ customer.show_status }}</td>
                <td>{{ customer.consultant.username }}</td>
                <td>{{ customer.date }}</td>
                <td>{{ customer.consult_content }}</td>
                <td><a href="{% url 'edit_customer' customer.id %}"><i class="fa fa-edit"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    自己封装的分页组件#}
{#    {{ page_html|safe }}#}
{#     # mark_safe()后端包裹后，前端就不要safe过滤了，自动识别成标签#}
    {{ page_html }}
{% endblock content %}